
.card{
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width:  20vw;
    height: 25vw;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .parentcard{
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(142, 59, 176, 0.29);
      padding: 0.3rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .card::after{
    background: linear-gradient(180deg,transparent 65%,#000000);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .image{
    filter: grayscale(.5);
    transition: all .3s ease;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit:cover;
  }
  
  .content {
    position: absolute;
    bottom: 5px;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .name{
      font-weight: bold;
      font-size: 1.8rem;
      font-variation-settings: "wght" 700;
      text-shadow: 2px 2px 5px #000000;
      letter-spacing: .05em;
      text-align: center;
      text-transform: uppercase;
      margin: 0;    
      transition: all .3s ease;
      transform: translateY(0px);
  }
  
  .position{
    color: #9359f1;
    font-family: poppins;
    font-variation-settings: "wght" 500;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 3px 3px 6px black;
    margin: 0;
    transition: all .3s ease;
    transform: translateY(0px);
  }
  
  .social{
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: absolute;
    bottom: 15vh;
    opacity: 0;
    align-items: center;
    margin-bottom: -10vh;
    transition: all .3s ease;
    transform: translateY(50px);
  }
  
  i{
    font-size: 3rem;
  }
  
  .linkedin{
    color: darkblue;
  }
  .insta{
    color: #EC53B0;
  }
  .card:hover{
    background: none;
  }
  .card:hover .image{
    transform: scale(1.15);
    filter: grayscale(0);
  }
  
  .card:hover .name{
    transform: translateY(-100px);
    opacity: 0;
  }
  
  .card:hover .position{
    transform: translateY(-100px);
    opacity: 0;
  }
  
  .card:hover .social{
    opacity: 1;
    transform: translateY(0px);
  }
  
  .social:hover p:hover{
    transform: scale(1.3);
  }
  
  /**Designs**/
  
  .leftbottom{
    bottom: 0;
    left: 0;
    width: 7.5vw;
  
  }
  .leftMid{
    left: 0;
    z-index: 3;
  }
  
  .rightMid{
    right: 0;
    z-index: 1;
  }
  
  .leftMid, .leftBottom, .rightMid{
    position: absolute;
    transition: .3s ease;
    transform: translatex(0);
  }
  
  .leftMid, .rightMid {
      top: 25%;
      width: 10vw;
  }
  
  .card:hover .leftMid{
    transform: translateX(-20px);
  }
  .card:hover .rightMid{
    transform: translateX(20px);
  }
  
  @media(max-width:1280px){
    
    .social{
      bottom: 12vh;
    }
    .name{
      font-size: 1.2rem;
    }
    .position{
      font-size: 1.2rem;
    }
    i{
      font-size: 2.5rem;
    }
  }
  
  @media(max-width: 900px){
    .card{
      width: 60vw;
      height: 68vw;
    }
    .name{
      font-size: 2.3rem;
    }
    .position{
      font-size: 2.3rem;
    }
    i{
      font-size: 4rem;
    }
    .social{
      bottom: 15vh;
    }
    .leftMid, .rightMid {
      top: 25%;
      width: 28vw;
    }
    .card:hover .leftMid{
      transform: translateX(-30px);
    }
    .card:hover .rightMid{
      transform: translateX(30px);
    }
  }
  
  @media(max-width: 640px){
    .name{
      font-size: 1.8rem;
    }
    .position{
      font-size: 1.8rem;
    }
    i{
      font-size: 3.5rem;
    }
    .social{
      bottom: 13vh;
    }
  }
  
  @media(max-width: 510px){
    .name{
      font-size: 1.3rem;
    }
    .position{
      font-size: 1.3rem;
    }
    i{
      font-size: 3rem;
    }
    .social{
      bottom: 11vh;
    }
  }