
.card {
  width: 300px;
  height: 420px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s, box-shadow 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card:hover {
  animation: shake 0.5s;
  box-shadow: 0 10px 20px rgba(255, 255, 0); /* Add blue shadow */
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-front {
  background-color: #ffd700;
  border: 8px solid #b8860b;
}

.card-back {
  /* background-color: #4169e1; */
  /* border: 8px solid #000080; */
  background-color: #39330c;
  transform: rotateY(180deg);
}

.card-frame {
  background-color: #ffffe0;
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member-name {
  
  font-size: 24px;
  margin: 10px 0;
  color: #010008;
}

.team-member-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px solid #ffd700;
}

.team-member-role {
  background-color: #ffd700;
  color: #000;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 40px;
  margin: 0 20px;
  color: #ffd700;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
  color: #fff;
  transform: scale(1.2);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
