/* sidetext Icons */
.sidetext {
    z-index: 5;
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    display: none;
    width: max-content;
    align-items: center;
    transition: opacity 0.5s, transform 0.5s; /* Added transition properties */
  
    opacity: 0; /* Start with opacity 0 to make it fade in */
    transform: translateX(-50%) translateY(-50%) rotate(-90deg) translateX(-20px); /* Start with a bit of left offset */
  }
  
  .sidetext.show {
    display: flex;
    opacity: 1; /* Fade in when shown */
    transform: translateX(-50%) translateY(-50%) rotate(-90deg) translateX(0); /* Slide in from left */
  }
  
  .sidetext .title {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    line-height: 50px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: flex;
    color: white;
  }
  