.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://nft-react-next.netlify.app/_next/static/media/header-2.c08c4691.jpg') center/cover no-repeat;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 10%; /* Adjust as needed */
    transform: translateY(-50%);
    z-index: 1;
    color: white;
  }
  
  .hero-text {
    /* background-color: rgba(0, 0, 0, 0.7); */
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .hero-text h1 span{
    background: linear-gradient(to bottom, #504099 40%,
    #FE7BE5 100%);
    border-radius: 10px;
    padding: 0.1rem 2rem;
  }
  
  .hero-text p {
    padding: 1rem 0;
    font-size: 1.1rem;
  }
  
  @media (max-width: 768px) {
    .hero-text {
      max-width: 100%;
    }
  }
  