#name ,#email, #tel ,#subject{
    height: 3rem;
}
#message{
    height: 5rem;
}
.message_button{
    display: flex;
    position: absolute;
    bottom: 1rem;
    justify-content: center;
}
#send_message{
    height: 3rem;
    width: 12rem;   
}
#contact{
    padding: 14px 0 14px 0;
}
ul{
    padding-left: 8px;
    padding-right: 10px;
}