$YearInSeconds: 10; // 1 Earth year = 60 seconds.
$EarthRevolution: 365.25;
@function revolution($PYDays) {
  @return $PYDays * $YearInSeconds / $EarthRevolution + s;
}

/*
 * Pick a random number between 0 to 1, for an individual star alpha in the ARGB code.
 */
@function alphaRandom() {
  @return random(1000) * 0.001;
}

@function stars($starCount, $maxArea, $minArea: 0, $starSize: 0) {
  $stars: #{$minArea + random($maxArea)}px #{$minArea + random($maxArea)}px 0 #{$starSize}px
    rgba(255, 255, 255, alphaRandom());

  @for $i from 1 to $starCount {
    $stars: "#{$stars} , #{$minArea + random($maxArea)}px #{$minArea + random($maxArea)}px 0 #{$starSize}px rgba(255,255,255, #{alphaRandom()})";
  }

  @return unquote($stars);
}

$sun: 3.9rem; // Increased by 30%
$mercury-orb: 6.825rem; // Increased by 30%
$mercury-pl: 0.78rem; // Increased by 30%
$mercury-rev: 156; // Increased by 30%
$venus-orb: 9.75rem; // Increased by 30%
$venus-pl: 1.56rem; // Increased by 30%
$venus-rev: 312; // Increased by 30%
$earth-orb: 14.1375rem; // Increased by 30%
$earth-pl: 1.17rem; // Increased by 30%
$earth-rev: 468; // Increased by 30%
$moon-rev: 42.63; // Increased by 30%
$mars-orb: 18.525rem; // Increased by 30%
$mars-pl: 1.17rem; // Increased by 30%
$mars-rev: 624; // Increased by 30%
$jupiter-orb: 33.15rem; // Increased by 30%
$jupiter-pl: 3.51rem; // Increased by 30%
$jupiter-rev: 780; // Increased by 30%
$saturn-orb: 42.9rem; // Increased by 30%
$saturn-pl: 2.34rem; // Increased by 30%
$saturn-rev: 936; // Increased by 30%
$uranus-orb: 50.7rem; // Increased by 30%
$uranus-pl: 1.95rem; // Increased by 30%
$uranus-rev: 1092; // Increased by 30%
$neptune-orb: 61.425rem; // Increased by 30%
$neptune-pl: 1.95rem; // Increased by 30%
$neptune-rev: 1248; // Increased by 30%
$pluto-orb: 76.05rem; // Increased by 30%
$pluto-pl: 0.585rem; // Increased by 30%
$pluto-rev: 1404; // Increased by 30%

$main-asteroids-belt-orb: 468px; // Increased by 30%
$main-asteroids-belt-pl: 327px; // Increased by 30%


$main-asteroids-belt-orb: 300px;
$main-asteroids-belt-pl: 210px;

body {
  background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
  // background-attachment: fixed;
}

.solarparent {
  padding-left: 20rem;
}
@media (width<700px) {
  .solarparent {
    padding-left: 0;
  }
  $sun: 2.5rem;
  $mercury-orb: 4.375rem;
  $mercury-pl: 0.5rem;
  $mercury-rev: 100;
  $venus-orb: 6.25rem;
  $venus-pl: 1rem;
  $venus-rev: 200;
  $earth-orb: 9.0625rem;
  $earth-pl: 0.75rem;
  $earth-rev: 300;
  $moon-rev: 27.3;
  $mars-orb: 11.875rem;
  $mars-pl: 0.75rem;
  $mars-rev: 400;
  $jupiter-orb: 21.25rem;
  $jupiter-pl: 2.25rem;
  $jupiter-rev: 500;
  $saturn-orb: 27.5rem;
  $saturn-pl: 1.5rem;
  $saturn-rev: 600;
  $uranus-orb: 32.5rem;
  $uranus-pl: 1.25rem;
  $uranus-rev: 700;
  $neptune-orb: 39.375rem;
  $neptune-pl: 1.25rem;
  $neptune-rev: 800;
  $pluto-orb: 48.75rem;
  $pluto-pl: 0.375rem;
  $pluto-rev: 900;
}

.solar-system {
  &:after {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: 0.125rem;
    top: -0.125rem;
	left: -20rem;
    background: white;
    box-shadow: stars(10000, 5000);
    border-radius: 100px;
  }
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  div {
    border-radius: 1000px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 0;
    &:not(.sun) {
      border: 1px solid rgba(102, 166, 229, 0.35);
      &:before {
        left: 50%;
        border-radius: 100px;
        content: "";
        position: absolute;
      }
    }
    &:not(.main-asteroids-belt) {
      &:before {
        box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  height: $sun;
  width: $sun;
  margin-top: -$sun / 2;
  margin-left: -$sun / 2;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: $mercury-orb;
  width: $mercury-orb;
  margin-top: -$mercury-orb / 2;
  margin-left: -$mercury-orb / 2;
  animation: orb revolution($mercury-rev) linear infinite;
  &:before {
    height: $mercury-pl;
    width: $mercury-pl;
    background: #9f5e26;
    margin-top: -$mercury-pl / 2;
    margin-left: -$mercury-pl / 2;
  }
}

.venus {
  height: $venus-orb;
  width: $venus-orb;
  margin-top: -$venus-orb / 2;
  margin-left: -$venus-orb / 2;
  animation: orb revolution($venus-rev) linear infinite;
  &:before {
    height: $venus-pl;
    width: $venus-pl;
    background: #beb768;
    margin-top: -$venus-pl / 2;
    margin-left: -$venus-pl / 2;
  }
}

.earth {
  height: $earth-orb;
  width: $earth-orb;
  margin-top: -$earth-orb / 2;
  margin-left: -$earth-orb / 2;
  animation: orb revolution($earth-rev) linear infinite;
  &:before {
    height: $earth-pl;
    width: $earth-pl;
    background: #11abe9;
    margin-top: -$earth-pl / 2;
    margin-left: -$earth-pl / 2;
  }
  &:after {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 43%;
    top: -6.5%;
    margin-left: -2px;
    margin-top: -2px;
    border-radius: 100px;
    box-shadow: 0 -15px 0 -9px grey;
    animation: orb revolution($moon-rev) linear infinite;
  }
}

.mars {
  height: $mars-orb;
  width: $mars-orb;
  margin-top: -$mars-orb / 2;
  margin-left: -$mars-orb / 2;
  animation: orb revolution($mars-rev) linear infinite;
  &:before {
    height: $mars-pl;
    width: $mars-pl;
    background: #cf3921;
    margin-top: -$mars-pl / 2;
    margin-left: -$mars-pl / 2;
  }
}

.jupiter {
  height: $jupiter-orb;
  width: $jupiter-orb;
  margin-top: -$jupiter-orb / 2;
  margin-left: -$jupiter-orb / 2;
  animation: orb revolution($jupiter-rev) linear infinite;
  &:before {
    height: $jupiter-pl;
    width: $jupiter-pl;
    background: #c76e2a;
    margin-top: -$jupiter-pl / 2;
    margin-left: -$jupiter-pl / 2;
  }
}

.saturn {
  height: $saturn-orb;
  width: $saturn-orb;
  margin-top: -$saturn-orb / 2;
  margin-left: -$saturn-orb / 2;
  animation: orb revolution($saturn-rev) linear infinite;
  &:before {
    height: $saturn-pl;
    width: $saturn-pl;
    background: #e7c194;
    margin-top: -$saturn-pl / 2;
    margin-left: -$saturn-pl / 2;
  }
  &:after {
    // position: absolute;
    // content: "";
    // height: 5%;
    // width: 9.352%;
    // left: 48%;
    // top: 0px;
    // transform: rotate3d(2, 0, 1, 290deg);
    // margin-left: -2.3%;
    // margin-top: -1.2%;
    // border-radius: 50% 50% 50% 50%;
    // box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
    // animation: orb revolution($saturn-rev) linear infinite;
    // animation-direction: reverse;
    // transform-origin: 10% 60%;
  }
}

.uranus {
  height: $uranus-orb;
  width: $uranus-orb;
  margin-top: -$uranus-orb / 2;
  margin-left: -$uranus-orb / 2;
  animation: orb revolution($uranus-rev) linear infinite;
  &:before {
    height: $uranus-pl;
    width: $uranus-pl;
    background: #b5e3e3;
    margin-top: -$uranus-pl / 2;
    margin-left: -$uranus-pl / 2;
  }
}

.neptune {
  height: $neptune-orb;
  width: $neptune-orb;
  margin-top: -$neptune-orb / 2;
  margin-left: -$neptune-orb / 2;
  animation: orb revolution($neptune-rev) linear infinite;
  &:before {
    height: $neptune-pl;
    width: $neptune-pl;
    background: #175e9e;
    margin-top: -$neptune-pl / 2;
    margin-left: -$neptune-pl / 2;
  }
}

.main-asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: $main-asteroids-belt-orb;
  width: $main-asteroids-belt-orb;
  margin-top: -$main-asteroids-belt-orb / 2;
  margin-left: -$main-asteroids-belt-orb / 2;
  animation: orb revolution(2191) linear infinite;
  overflow: hidden;
  &:before {
    top: 50%;
    height: $main-asteroids-belt-pl;
    width: $main-asteroids-belt-pl;
    margin-left: -$main-asteroids-belt-pl / 2;
    margin-top: -$main-asteroids-belt-pl / 2;
    background: transparent;
    border-radius: 140px !important;
    box-shadow: stars(1000, 290, -300/2, -104);
  }
}

.pluto {
  height: $pluto-orb;
  width: $pluto-orb;
  margin-top: -$pluto-orb / 2;
  margin-left: -$pluto-orb / 2;
  animation: orb revolution($pluto-rev) linear infinite;
  &:before {
    height: $pluto-pl;
    width: $pluto-pl;
    background: #fff;
    margin-top: -$pluto-pl / 2;
    margin-left: -$pluto-pl / 2;
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}










  .heroContent {
	// background: linear-gradient(180deg,rgba(4,1,21,0) 0%,rgba(4,1,21,.7) 34.48%,#030014 82.36%);
	border-radius: 16px;
	// box-shadow: 0 4px 30px #0000001a;
	// backdrop-filter: blur(0px);
	// -webkit-backdrop-filter: blur(5px);
	// border: 1px solid rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 60vh;
	left: 37%;
	transform: translate(-50%, -50%);
	// text-align: center;
	// padding: 5vh;
	color: #fff;
	z-index: 1;
  }
  
  .heroContent h1 span {
	font-size: 5rem;
	margin-bottom: 1rem;
	/* background: linear-gradient(to bottom, #504099 40%,#FE7BE5 100%); */
	border-radius: 10px;
	// padding: 0.1rem 1rem;
	text-shadow: 3px 3px 10px rgb(0, 0, 0);
	font-family: 'angora';
  }
  
  .heroContent p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	// width: 100%;
	// font-family: 'Bravest';
  }

  .btncontainer{
	width: 40%;
  }
  @media(width<700px){
	.btncontainer{
		width: 100%;
	}
  }
  
  .cta {
	display: flex;
	padding: 5px 45px;
	text-decoration: none;
	font-family: 'kanit', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: white;
	background: #6225E6;
	transition: 0.5s;
	box-shadow: 6px 6px 0 black;
	transform: skewX(-15deg);
	justify-content: center;
	align-items: center;
  }
  
  @media(width<713px){
  .cta{
	justify-content: center;
	align-items: center;
	font-size: 17px;
	padding: 3px 15px;
  }
  }
  @media(width<523px){
	.cta{
	  justify-content: center;
	  align-items: center;
	  font-size: 12px;
	  padding: 3px 15px;
	}
	}
  
  .cta:focus {
   outline: none; 
  }
  
  .cta:hover {
	transition: 0.5s;
	box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta span:nth-child(2) {
	transition: 0.5s;
	margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
	transition: 0.5s;
	margin-right: 45px;
  }
  
  .cta span {
	transform: skewX(15deg) 
  }
  
  .cta span:nth-child(2) {
	width: 20px;
	margin-left: 30px;
	position: relative;
	top: 12%;
  }
  
  /**************SVG****************/
  
  path.one {
	transition: 0.4s;
	transform: translateX(-60%);
  }
  
  path.two {
	transition: 0.5s;
	transform: translateX(-30%);
  }
  
  .cta:hover path.three {
	animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
	0% {
	  fill: white;
	}
	50% {
	  fill: #FBC638;
	}
	100% {
	  fill: white;
	}
  }
  @media (max-width: 1151px) {
	.heroContent h1 span {
	  font-size: 2.4rem;
	}
  }
   
  @media (max-width: 1024px) {
	.heroContent {
	  top: 70vh;
	  left: 50%;
	}
	.heroContent h1 span {
	  font-size: 1rem;
	  margin-bottom: 1rem;
	  /* background: linear-gradient(to bottom, #504099 40%,#FE7BE5 100%); */
	  border-radius: 10px;
	  display: contents;
	  /* padding: 0.1rem 1rem; */
	}
	
	.heroContent p {
	  font-size: 1rem;
	  margin-bottom: 2rem;
	  margin-top: 1rem;
	}
  }
  
  @media (max-width: 768px) {
	.heroContent {
	  top: 70vh;
	  left: 50%;
	}
	.heroContent h1 span {
	  font-size: 1rem;
	  margin-bottom: 1rem;
	  /* background: linear-gradient(to bottom, #504099 40%,#FE7BE5 100%); */
	  border-radius: 10px;
	  display: contents;
	  /* padding: 0.1rem 1rem; */
	}
	
	.heroContent p {
	  font-size: 1rem;
	  margin-bottom: 2rem;
	  margin-top: 1rem;
	}
  }
  @media (max-width: 713px) {
  
	.heroContent.show {
	  width: 90%;
	  opacity: 1;
	  transform: translate(-50%, -50%);
	}
  }
  @media(max-width: 540px){
	.heroContent {
	  top: 60vh;
	  left: 50%;
	}
  }
  
  @media(max-width: 271px){
	.heroContent h1 span {
	  font-size: 0.8rem;
	}
  }
  
  




  .float{
    animation: fly 50s linear infinite;
    top: 0;
	left: 0;
	position: fixed;
	z-index: 0;
	pointer-events: none;
}

  @keyframes fly {
	0% {

		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;
	}

	12.5% {
		transform: translate(120vw,-120%) rotateZ(20deg);
	}

	25% {
		transform: translate(-200%,50vh) scale(1.75) rotateZ(-20deg);
	}

	37.5% {
		transform: translate(-200%,-120%) rotateZ(-40deg);opacity: 1;
	}

	50% {
		transform: translate(100vw,50vh) rotateZ(0deg);
	}

	62.5% {
		transform: translate(20vw,100vh) rotateZ(20deg);
	}
	75% {
		transform: translate(200%,100vh) rotateZ(20deg);opacity: 1;
	}
	87.5% {
		transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);
	}

	100% {
		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;
	}
}