/* HomeHero.module.css */
.heroContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroContent {
  background: linear-gradient(180deg,rgba(4,1,21,0) 0%,rgba(4,1,21,.7) 34.48%,#030014 82.36%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 5vh;
  color: #fff;
  z-index: 1;
}

.heroContent h1 span {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  /* background: linear-gradient(to bottom, #504099 40%,#FE7BE5 100%); */
  border-radius: 10px;
  padding: 0.1rem 1rem;
  font-family: 'angora';
  font-family: 'SpaceMono';
}

.heroContent p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.heroContent button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #a83a94;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heroContent button:hover {
  background-color: #e458ca;
}

/* HomeHero.module.css */
.heroContent {
  /* ... existing styles ... */
  opacity: 0;
  transform: translate(-50%, -50%) translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.heroContent.show {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.cta {
  display: flex;
  padding: 5px 45px;
  text-decoration: none;
  font-family: 'kanit', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  justify-content: center;
  align-items: center;
}

@media(width<713px){
.cta{
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 3px 15px;
}
}
@media(width<523px){
  .cta{
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 3px 15px;
  }
  }

.cta:focus {
 outline: none; 
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.cta span {
  transform: skewX(15deg) 
}

.cta span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
@media (max-width: 1151px) {
  .heroContent h1 span {
    font-size: 2.4rem;
  }
}
 
@media (max-width: 1024px) {
  .heroContent {
    top: 70vh;
    left: 50%;
  }
  .heroContent h1 span {
    font-size: 1rem;
    margin-bottom: 1rem;
    /* background: linear-gradient(to bottom, #504099 40%,#FE7BE5 100%); */
    border-radius: 10px;
    display: contents;
    /* padding: 0.1rem 1rem; */
  }
  
  .heroContent p {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .heroContent {
    top: 70vh;
    left: 50%;
  }
  .heroContent h1 span {
    font-size: 1rem;
    margin-bottom: 1rem;
    /* background: linear-gradient(to bottom, #504099 40%,#FE7BE5 100%); */
    border-radius: 10px;
    display: contents;
    /* padding: 0.1rem 1rem; */
  }
  
  .heroContent p {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
@media (max-width: 713px) {

  .heroContent.show {
    width: 90%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media(max-width: 540px){
  .heroContent {
    top: 60vh;
    left: 50%;
  }
}

@media(max-width: 271px){
  .heroContent h1 span {
    font-size: 0.8rem;
  }
}

