
.timeline_date{
  font-family: "Bebas Neue", sans-serif;
  color:aliceblue;
}


.timeline_info{
  color: rgba(255, 255, 255, 0.722) !important;
  margin:0 !important;
  font-size: 0.8rem !important;
}

.timeline_title{
  padding-bottom:15px;
  color: white !important;
  font-size: 1.2rem !important;
}