.heading {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-top: 20px;
}
.heading span {
  color: #6b4387;
}
.line {
  border: 3px solid #5b3554;
  border-radius: 5px;
  width: 60%;
  color: #5b3554;
  margin-bottom: 20px;
}
.journey {
  justify-content: center;
  text-align: center;
  background-color: #181818;
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 0;
}
.rowItem {
  height: 20vw;
  width: 35vw;
  border-radius: 20px;
  margin: 8px;
}
.solid {
  background-image: linear-gradient(to top right, #543865, #42324c);
  box-shadow: rgba(252, 252, 252, 0.16) 0px 1px 4px;
}
.trans {
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .rowItem {
    margin: 1px;
    width: 45vw;
    height: 24vw;
  }
  .row {
    padding: 1px;
    margin: 1px;
  }
}
@media screen and (max-width: 500px) {
  .rowItem {
    margin: 1px;
    width: 45vw;
    height: 26vw;
    padding: 0;
  }
  .row {
    margin: 1px;
    padding: 10px 1px 20px 1px;
  }
}
