.VigyaanGallery{
    margin-top: 7rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading3{
    background-image: linear-gradient(180deg, rgba(151, 78, 195, 0.79) 0%, rgba(254, 123, 229, 0.82) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Mate SC";
    font-size: 50px;
    margin: auto 20px;
}

.GallerySection{
    margin: 3.7rem 0;
    display: grid;
    gap: 15px;
    height: 140vh;
    width: 100vh;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.GallerySection > *{
    background-color: rgba(217, 217, 217, 1);  
    border-radius: 24px;
    border: 1px;
}

.box1{
    grid-column: span 2;
}

.box3{
    grid-row: span 2;
}

.box4{
    grid-column: span 2;

}
.box5{
    width: 280px;
}

@media(max-width: 1000px){

    .GallerySection{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }
    .GallerySection > *{
        height: 300px;
        width: 70vw;
    }
    .heading3{
        text-align: center;
    }
}

@media (max-width:420px) {
     
    .heading3{
        font-size: 40px;
    }
}