
.topContainer{
    height: 404px;
    top: 200px;
    background-color: #D9D9D9;
}

.heading{
    position: absolute;
top: 50px;
left: 90px;
font-family: "Mate SC";
font-size: 50px;
color: #000000;
}

.forms{
    display: flex;
    height: 200px;
    margin: 3rem;
    padding-bottom: 2rem;
    gap: 35px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form{
    border: 3px solid;
    border-color: #974EC382;
    width: 400px;
    font-size: 20px;
    font-family: 'inter';
    height: 50px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FE7BE5D1 ;
    cursor: pointer;
}

.form:hover{
    background-color: #974EC380;
    color: #D9D9D9;
    border-bottom-color:rgba(254, 123, 229, 0.82) ;
    border-top-color:rgba(26, 159, 234, 0.42) ;
}

@media (max-width: 800px){
    .forms{
        height: 250px;
        margin-bottom: 0;
        gap:0;
    } 
    .form{
        height: 40px;
        width: 300px;
        font-size: 15px;
    }
    .heading{
        left: 30px;
        font-size: 40px;
    }
}

@media (max-width: 360px){
    .form{
        width: 70vw;
        font-size: 12px;
    }  
    
    .heading{
        font-size: 30px;
    }
}

@media ( max-width: 960px){
    .forms{
        gap: 20px;
    }
    .form{
        width: 300px;
    }

}