.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vigbutton {
  font-size:16px;
  border-radius: 10px;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
padding: 0.5rem 1rem;
width: 70%;
color: white;
background: linear-gradient(to bottom, #504099c5 20%,#fe7be6c8 100%);
border: 2px solic;
border-bottom-color:#FE7BE5 ;
border-top-color: #504099 ;
cursor: pointer;
  }

  .vigbutton::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

/* .vigbutton:hover, .vigbutton:focus {
  color: #fff;
  transform: translateY(-6px);
} */

/* .vigbutton:hover::before, .vigbutton:focus::before {
  opacity: 1;
} */

.vigbutton::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #FF00B3;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  display: none;
}

/* .vigbutton:hover::after, .vigbutton:focus::after {
  animation: none;
  display: none;
} */

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .vigbutton {
    min-width: 200px;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff;
    background: #CC00FF;
    /* background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%); */
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(112,0,255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
    .vigbutton::before {
content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(50px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}
.vigbutton::after {
  display: block;
}
}
